@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(238, 232, 232);
}
header
{
    position: fixed;
    width: 100%;
}
nav 
{   
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    background : #180127;
    height: 8vh;
}

.section1
{   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.section2
{   
    position: absolute;
    height: 100vh;
    width: 100%;
}
.icon-menu img 
{  
    width: 30px;
    height: 30px;
    margin: 15px 0px 15px 10px;
}
#barra-menu
{   
    background: #180127;
    height: 100vh;
    width: 0px;
    overflow: hidden;
    transition: 0.3s all;
}
#barra-menu ul li 
{   
    list-style: none;
    padding: 10px;
}
#barra-menu ul li a
{   
    color: rgb(243, 240, 240);
    text-decoration: none;
    font-size: 1em;
    width: 100%;
}
#barra-menu ul li a:hover
{   
    color: rgb(75, 73, 73);
    padding: 4px;
    
}
.c-icon 
{   
    margin-top: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    overflow: hidden;
}
.c-icon span
{ 
    color: azure;
}
.c-icon span:hover 
{   
    transition: 0.2s;
    transform: 0.5s;
    color: rgb(75, 73, 73);
}
@media screen and (max-width: 412px)
{   
    .main-title h1 {   
        font-size: 1.5em;
        margin-top: 75%;
        margin-right: 15%;
    }
    .main-title h2 {
        font-size: 1em;
        margin-right: 15%;
        margin-top: 75px;
    }
    .main-title h3 {
        font-size: 1em;
        margin-right: 15%;
    }
    .main-title h5 {
        font-size: 0.8em;
        margin-right: 15%;
        margin-top: 75px;
    }
    .title p {
        font-size: 0.8em;
    }
    .main-title button {
        font-size: 1em;
        width: 15%;
    }
}
